/* .howitworks-page {
    background: url("../images/background.JPG");
    background-size: 75em 75em;
  } */
.img-col {
  /* border: 2px solid purple; */
  /* height: 85vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-col {
  /* border: 2px solid red; */
  /* height: 85vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait-wrapper {
  /* border:4px solid yellow; */
  border-radius: 10px;
  margin: 10px;
}
.portrait-center {
  text-align: center;
}
